/// WRA organisation colour
///
/// @type Colour
/// @access public

$wra-organisation-colour: rgb(41,35,92);

/// Border colour
///
/// @type Colour
/// @access public

$wra-border-colour: rgb(241, 241, 241);


/// Secondary text colour
/// 
/// Used for captions and hint text
///
/// @type Colour
/// @access public

$wra-secondary-text-colour: #666666;
