/// Single point spacing
///
/// Returns measurement corresponding to the spacing point requested.
///
/// @param {Number} $spacing-point - Point on the spacing scale
///  (set in `settings/_spacing.scss`)
///
/// @returns {String} Spacing measurement eg. 10px
///
/// @example scss
///   .element {
///     padding: wra-spacing(5);
///   }
///
/// @example scss Using negative spacing
///   .element {
///     margin-top: wra-spacing(-1);
///   }
///
/// @example scss Marking spacing declarations as important
///   .element {
///     margin-top: wra-spacing(1) !important;
///   }
///
/// @access public

@function wra-spacing($spacing-point) {

  $actual-input-type: type-of($spacing-point);
  @if $actual-input-type != "number" {
    @error "Expected a number (integer), but got a "
    + "#{$actual-input-type}.";
  }

  $is-negative: false;
  @if $spacing-point < 0 {
    $is-negative: true;
    $spacing-point: abs($spacing-point);
  }

  @if not map-has-key($wra-spacing-points, $spacing-point) {
    @error "Unknown spacing variable `#{$spacing-point}`. Make sure you are using a point from the spacing scale in `_settings/spacing.scss`.";
  }

  $value: map-get($wra-spacing-points, $spacing-point);
  @return if($is-negative, $value * -1, $value);
}
