
<!DOCTYPE html>
<html lang="{{pageLang}}" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" hreflang="en" href="" />
    <link rel="alternate" hreflang="cy" href="" />
    <link rel="icon" type="image/ico"  href="/favicon.ico" >
    <meta name="theme-color" content="{{ themeColour | default('#b60404') }}">
    <meta name="msapplication-TileColor" content="{{ themeColour | default('#b60404') }}">

    <title>{%- block pageTitle %}{% endblock %}</title>

    {% block head %}
        {%- block headStart %}{% endblock headStart -%}

        {%- block pageAssets %}
            {%- block stylesheets -%}
            <link rel="stylesheet" media="all" href="{{ assetPath }}/stylesheets/walesgel/wales-gel.css" />
            {% endblock stylesheets -%}
        {% endblock pageAssets %}

        {%- block headEnd %}{% endblock headEnd -%}
    {% endblock head %}
</head>

<body class="{{ bodyClasses }} lang-{{pageLang}}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% block bodyStart %}{% endblock %}

    {% block skipLink %}
    <div class="skip-to-main" id="skip-to-main">
        <a href="#wg_main" class="visually-hidden focusable">
        Skip to main content
        </a>
    </div>
    {% endblock %}

    {% block header -%}

    {% block headerTop -%}
    {% from 'wra-frontend/components/header/macro.jinja' import wraHeader -%}
    {{ wraHeader({
        "phaseMarker": {
            "id": "alpha-btn",
            "classes": "btn btn--beta btn--light",
            "text": "Proof of concept"
        },
        "feedback": {
            "email": "#",
            "text": "Give feedback"
        },
        "minimise": {
            "text": "minimise"
        }
    }) }}
    {%- endblock headerTop %}

    {% block headerMastHead -%}
    <div class="gel_masthead">
        <div class="container-fluid">
        {% block masthead %}{% endblock masthead %}
        </div>
    </div>
    {%- endblock headerMastHead %}

    {%- endblock %}

    <div id="page_wrapper"  class="layout-container">

        {% block main %}
        <main id="wg_main" class="wg_main">
            {% block beforeContent %}{% endblock %}
            <div id="main__body" class="main__body {{ main_bodyClasses|default('container-fluid') }}">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% endblock main %}

    </div>

    {% block footer %}
	    {% block footerStart %}{% endblock footerStart %}
        {% block wraFooter %}
	    {% from 'wra-frontend/components/footer/macro.jinja' import wraFooter  %}
        {{ wraFooter({
            "pageLang": 'en'
        }) }}
        {% endblock wraFooter %}
        {% block footerEnd %}{% endblock footerEnd %}
    {% endblock %}

    {% block bodyEnd %}
        {%- block bodyScriptsStart %}{% endblock bodyScriptsStart %}

        {%- block bodyScripts %}
            {% block commonScripts %}{% endblock commonScripts %}
            {%- block pageScripts %}{% endblock pageScripts %}
        {%- endblock bodyScripts %}

        {%- block bodyScriptsEnd %}{% endblock bodyScriptsEnd %}
    {% endblock %}
</body>
</html>
